@font-face {
    font-family: Maddox;
    src: url(../fonts/Maddox.ttf);
}

@font-face {
    font-family: Eversthedin;
    src: url(../fonts/Eversthedin\ Personal\ Use\ Only-1.ttf);
}

*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;


}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

.pointer_none{
    pointer-events: none;
}



nav ul li a{
    text-decoration: none !important;
    color: #4D4959;
    font-size: 14px !important;
    letter-spacing: 1px;
    font-family: 'Lato', sans-serif !important;
   

}

/* .navbar .navbar-nav .nav-link {
    color: #000000;
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
} */

.logo_nav{
    /* background: url(../images/logo.png) no-repeat center center; */
    height: 85px;
    max-height: 85px;
    min-height: 85px;
    width: 87px;
    min-width: 87px;
    max-width: 87px;

    position: relative;
    top: -3px;
    /* top: 0px;
    right: 0px; */
    /* overflow: hidden; */
}

.logo_responsive{
    display: hidden;
}

.img_header{
    background: url(../images/IMG_1528.jpg) no-repeat top center #f4f5fc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 750px;

}

h2.paragraphe{
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    background: url(../images/beers.png) no-repeat top center;
    background-size: 80px;
    padding-top: 100px;
}

section.padding_intro{
    background-color: #F1F1F1;
    padding: 115px 0px;
}

p.text-intro {
text-align: center;
    font-size: 18px;
    color: #848789;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 1.8em;
    /* margin-top: 15px; */
    margin: 15px 40px 0px 40px;
}

.legend{
    font-size: 12px;
}

div.img_1{
    background: url(../images/IMG_1463_resize.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    position: relative;
}

div.img_2{
    background: url(../images/IMG_1702_resize.jpg) no-repeat center center;
    background-size: cover;
    /* max-width: 100%; */
    height: 500px;
    overflow: hidden;
    position: relative;
}

div.img_3{
    background: url(../images/IMG_1369_resize.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
    padding-right: 5px;

}

div.img_4{
    background: url(../images/IMG_1390_resize.jpg);
    background-size: cover;
    position: relative;
    height: 600px;
}

h3.beers{
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    background: url(../images/beer.png) no-repeat top center;
    background-size: 70px;
    padding-top: 90px;
    margin-top: 30px;
}

p.beers{
    text-align: center;
    font-size: 14px;
    color: #848789;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 1.8em;
    margin-top: 25px;
    padding: 0 60px;
    text-align: justify;
}

.thin-sep-blonde {
    height: 1px;
    background-color: #164594;
    width: 50px;
    margin: 8% auto 8% auto;
  }
.thin-sep-rouquine {
    height: 1px;
    background-color: #cf3f17;
    width: 50px;
    margin: 8% auto 8% auto;
  }
.thin-sep-cerise {
    height: 1px;
    background-color: #00916d;
    width: 50px;
    margin: 8% auto 100px auto;
  }

  h2.contact{
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    background: url(../images/email.png) no-repeat top center;
    background-size: 50px;
    background-position: center;
    padding-top: 100px;
}

.contact{
    background-color: #F1F1F1;
    /* padding: 100px; */
}

label{
    font-family: "Lato", sans-serif;
    color: #353738;
    /* margin: 20px; */

}

footer{

/* padding-top: 15px; */
height: 100px;
background-color: #353738;
}

footer ul li{
        display: inline-block;
        /* line-height: 70px; */
        margin: 0 10px;
}

footer span{
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    /* margin: 0; */
    /* padding-top: 100px; */
}


  .btn-toggle-container{
    position: absolute;
    top: 30px;
    right: 15px;  
    cursor: pointer;
    display: none;
  
  }
  
  
  .btn-toggle-container img {
    width: 40px;
  
  }
  
  .menu_hidden{
    display: hidden;
  }

  /* .icon-nav{
      background: url(/images/menu-icon.svg) no-repeat center;
  } */

  
.img_contact{
    width: 100%;
    background: linear-gradient(
    rgba(0, 0, 0, 0.60), 
    rgba(0, 0, 0, 0.60)
    ), url('../images/IMG_1597.jpg');
    -webkit-background-size: cover; 
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 350px;
    /* background-origin: content-box;  */


}

.maddox{
    font-family: 'Maddox', sans-serif;
    font-size: 70px;
    padding-bottom: 0;
}

.Eversthedin{
    font-family: 'Eversthedin', sans-serif;
    font-size: 20px;
}

.contact-size{
    font-size: 12px;
}

.title_contact{
    font-family: 'Lato', sans-serif;
    color: #F1F1F1;
    text-transform: uppercase;

}


.little_border_contact {
    height: 1px;
    background-color: #F1F1F1;
    width: 50px;
    margin: 1% auto 3% auto;
  }


  @media screen and (max-width: 767px){
    
    html,body{
        width:100%;
        overflow-x:hidden;
    }

    .inverse {
        display: flex;
        flex-direction: column-reverse;
    }

    .inverse_contact{
        display: flex;
        flex-direction: column;
    }

    .margin_contact{
        margin-bottom: 10%;
    }
 
 
    .responsive-logo { 
      /* background: url(../images/logo_2.png) no-repeat center center;  */
      height: 85px;
      max-height: 85px;
      min-height: 85px;
      width: 87px;
      min-width: 87px;
      max-width: 87px;
      /* position: absolute;  */
      /* top: 0.8%;  */
      /* left: 3%;  */
   }
 
   .btn-toggle-container{
     display: block;
   }

    #list-nav{
       position: relative;
       /* top: 60px; */
       display: none;
       width: 100%;
    }
 
    .item-nav{
       display: block;
       background: #F1F1F1;
       margin: 0;
    }

 
    .nav-hidden{
     display: none;
   }

   .row_beer_padding{
       padding-bottom: 2px;
   }

   .google_responsive{
       display: none;
   }

   /* .position_responsive */
}
 
 