*, ::before, ::after {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: "Lato", sans-serif;


}

.nopadding {
    padding: 0 !important;
    margin: 0 !important;
}

nav {
    height: 100px;
    width: 100%;
    background: #F1F1F1;
}

a.nav_hidden{
    text-decoration: none;
    pointer-events: none;
}

nav ul{
    width:80%;
    text-align: center;
}

nav ul li{
    display: inline-block;
    line-height: 70px;
    margin: 0 15px;
}

nav ul li a{
    text-decoration: none;
    color: #4D4959;
    font-size: 14px;
    letter-spacing: 2px;
    font-family: "Lato", sans-serif;
    position: relative;
    top: 10px;

}

.logo_nav{
    /* background: url(../images/logo.png) no-repeat center center; */
    height: 85px;
    max-height: 85px;
    min-height: 85px;
    width: 87px;
    min-width: 87px;
    max-width: 87px;

    position: relative;
    top: -3px;
    /* top: 0px;
    right: 0px; */
    /* overflow: hidden; */
}

.logo_responsive{
    display: hidden;
}

.img_header{
    background: url(../images/IMG_1528.jpg) no-repeat top center #f4f5fc;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    height: 750px;

}

h2.paragraphe{
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    background: url(../images/beers.png) no-repeat top center;
    background-size: 80px;
    padding-top: 100px;
}

div.padding_intro{
    background-color: #F1F1F1;
    padding: 115px 0px;
}

p.text-intro {
text-align: center;
    font-size: 18px;
    color: #848789;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 1.8em;
    /* margin-top: 15px; */
    margin: 15px 40px 0px 40px;
}

div.img_1{
    background: url(../images/IMG_1463_resize.jpg) no-repeat center center;
    background-size: cover;
    height: 500px;
    position: relative;
}

div.img_2{
    background: url(../images/IMG_1702_resize.jpg) no-repeat center center;
    background-size: cover;
    /* max-width: 100%; */
    height: 500px;
    overflow: hidden;
    position: relative;
}

div.img_3{
    background: url(../images/IMG_1369_resize.jpg);
    background-size: cover;
    height: 600px;
    position: relative;
    padding-right: 5px;

}

div.img_4{
    background: url(../images/IMG_1390_resize.jpg);
    background-size: cover;
    position: relative;
    height: 600px;
}

h3.beers{
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    background: url(../images/beer.png) no-repeat top center;
    background-size: 70px;
    padding-top: 90px;
    margin-top: 30px;
}

p.beers{
    text-align: center;
    font-size: 14px;
    color: #848789;
    font-weight: 300;
    word-spacing: 2px;
    line-height: 1.8em;
    margin-top: 25px;
    padding: 0 60px;
    text-align: justify;
}

.thin-sep-blonde {
    height: 1px;
    background-color: #164594;
    width: 50px;
    margin: 8% auto 0 auto;
  }
.thin-sep-rouquine {
    height: 1px;
    background-color: #cf3f17;
    width: 50px;
    margin: 8% auto 0 auto;
  }
.thin-sep-cerise {
    height: 1px;
    background-color: #00916d;
    width: 50px;
    margin: 8% auto 0 auto;
  }

  h2.contact{
    text-align: center;
    text-transform: uppercase;
    color: #353738;
    letter-spacing: 2px;
    font-size: 18px;
    font-weight: 600;
    background: url(../images/email.png) no-repeat top center;
    background-size: 50px;
    background-position: center;
    padding-top: 100px;
}

.contact{
    background-color: #F1F1F1;
    /* padding: 100px; */
}

label{
    font-family: "Lato", sans-serif;
    color: #353738;
    /* margin: 20px; */

}

footer{

/* padding-top: 15px; */
height: 100px;
background-color: #353738;
}

footer ul li{
        display: inline-block;
        /* line-height: 70px; */
        margin: 0 10px;
}

footer span{
    text-align: center;
    text-transform: uppercase;
    color: #FFFFFF;
    letter-spacing: 2px;
    font-size: 12px;
    font-weight: 600;
    /* margin: 0; */
    /* padding-top: 100px; */
}

div.localisation{
    width: 60px;
    height: 60px;
    min-height: 60px;
    max-height: 60px;
    min-width: 60px;
    max-width: 60px;
    border-radius: 50%;
    margin: 0 auto;
    margin-bottom: 0px;
    margin-bottom: 20px;
    background-color: #353738;

}

  .div_localisation{
      display: inline-block;
  }


  .btn-toggle-container{
    position: absolute;
    top: 30px;
    right: 15px;  
    cursor: pointer;
    display: none;
  
  }
  
  
  .btn-toggle-container img {
    width: 40px;
  
  }
  
  .menu_hidden{
    display: hidden;
  }



  @media screen and (max-width: 884px){
    img.logo_nav_responsive{
      display: hidden;
 
    }
 
 
    .responsive-logo { 
      background: url(../images/logo_2.png) no-repeat center center; 
      height: 85px;
      max-height: 85px;
      min-height: 85px;
      width: 87px;
      min-width: 87px;
      max-width: 87px;
      position: absolute; 
      top: 0.8%; 
      left: 3%; 
   }
 
   .btn-toggle-container{
     display: block;
   }
 
 
 
   nav {
       border-bottom: 1px solid ;
     }
 
     .list-nav{
       position: relative;
       top: 70px;
       display: none;
     }
 
     .item-nav{
       display: block;
       background: #F1F1F1;
       margin: 0;
     }
 
     .list-nav.active-menu{
       display: block;
    }
 
    .nav-hidden{
     display: none;
   }
 
   }
 
 